yedekler/WF-007-Sheets-Get-Row.json
{
  "name": "WF-007 Sheets Get Row",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sheets-get-row",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "sheets-get-row"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body || {};\nconst spreadsheetId = body.spreadsheet_id;\nconst sheetName = body.sheet_name;\nconst row = body.row || 1;\nconst columnMappings = body.column_mappings || {};\n\nif (!spreadsheetId || !sheetName) {\n  return { json: { success: false, error: 'spreadsheet_id ve sheet_name gerekli' } };\n}\n\n// Get column letters sorted\nconst columns = Object.entries(columnMappings).sort((a, b) => a[1].localeCompare(b[1]));\nconst firstCol = columns[0]?.[1] || 'A';\nconst lastCol = columns[columns.length - 1]?.[1] || 'A';\nconst rowRange = `${sheetName}!${firstCol}${row}:${lastCol}${row}`;\n\nreturn { json: {\n  spreadsheet_id: spreadsheetId,\n  sheet_name: sheetName,\n  row,\n  row_range: rowRange,\n  column_mappings: columnMappings,\n  columns: columns\n}};"
      },
      "id": "prepare",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheet_id }}/values/{{ encodeURIComponent($json.row_range) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "get-row",
      "name": "Get Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FRUwxjFQM3dnpWm4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const prepData = $('Prepare').item.json;\nconst response = $json;\nconst rowValues = response.values?.[0] || [];\nconst columns = prepData.columns || [];\n\n// Map values back to field names\nconst values = {};\ncolumns.forEach(([field, col], index) => {\n  values[field] = rowValues[index] || '';\n});\n\nreturn { json: {\n  success: true,\n  row: prepData.row,\n  values: values\n}};"
      },
      "id": "format",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare", "type": "main", "index": 0 }]] },
    "Prepare": { "main": [[{ "node": "Get Row", "type": "main", "index": 0 }]] },
    "Get Row": { "main": [[{ "node": "Format", "type": "main", "index": 0 }]] },
    "Format": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
