n8n/workflows/new/WF-101-project-initializer (3).json
{
  "name": "WF-101-project-initializer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tool1/project/create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "20328476-3104-4a83-a405-5a564ddd10a5",
      "name": "Webhook - Create Project",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1536,
        64
      ],
      "webhookId": "tool1-project-create"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================\n// WF-101 Input Validation\n// ============================================\n\nconst body = $json.body || {};\nconst errors = [];\n\n// Required fields validation\nif (!body.client_id || isNaN(parseInt(body.client_id))) {\n  errors.push('client_id zorunludur ve sayı olmalıdır');\n}\n\nif (!body.project_name || String(body.project_name).trim() === '') {\n  errors.push('project_name zorunludur');\n}\n\nif (!body.main_keyword || String(body.main_keyword).trim() === '') {\n  errors.push('main_keyword zorunludur');\n}\n\n// Scenario type validation\nconst validScenarios = ['seed_keyword', 'topic_based'];\nconst scenarioType = body.scenario_type || 'seed_keyword';\nif (!validScenarios.includes(scenarioType)) {\n  errors.push('scenario_type seed_keyword veya topic_based olmalıdır');\n}\n\n// Sanitize inputs to prevent SQL injection\nconst sanitize = (str) => {\n  if (str === null || str === undefined) return '';\n  return String(str).replace(/'/g, \"''\").trim();\n};\n\nreturn {\n  json: {\n    isValid: errors.length === 0,\n    errors: errors,\n    data: {\n      client_id: parseInt(body.client_id) || 0,\n      project_name: sanitize(body.project_name),\n      main_keyword: sanitize(body.main_keyword),\n      scenario_type: scenarioType,\n      target_country: sanitize(body.target_country) || 'TR',\n      target_language: sanitize(body.target_language) || 'tr'\n    }\n  }\n};"
      },
      "id": "3209c070-f7ef-4888-a5a0-ebe7b7c82748",
      "name": "Code - Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a920bb13-1b11-48d4-b982-5c81ea4cee63",
      "name": "IF - Valid Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1088,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Validation failed\",\n  \"details\": {{ JSON.stringify($json.errors) }}\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "fb1290b6-b376-4d79-9a4e-57951871fb9e",
      "name": "Respond - Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -864,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  (SELECT id FROM clients WHERE id = {{ $('Code - Validate Input').first().json.data.client_id }} AND deleted_at IS NULL LIMIT 1) as id,\n  (SELECT name FROM clients WHERE id = {{ $('Code - Validate Input').first().json.data.client_id }} AND deleted_at IS NULL LIMIT 1) as name",
        "options": {}
      },
      "id": "76758c36-7a47-42fd-a7eb-e60f197daf95",
      "name": "MySQL - Check Client",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -864,
        -80
      ],
      "credentials": {
        "mySql": {
          "id": "LYQGH6Sr5DJDmTWl",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Check if client exists and pass validated data forward\nconst clientResult = $json;\nconst validatedData = $('Code - Validate Input').first().json.data;\n\n// Now clientResult always has a row - check if id is not null\nconst clientExists = clientResult.id !== null && clientResult.id !== undefined;\n\nreturn {\n  json: {\n    clientExists: clientExists,\n    client_id: validatedData.client_id,\n    client_name: clientResult.name || null,\n    project_name: validatedData.project_name,\n    main_keyword: validatedData.main_keyword,\n    scenario_type: validatedData.scenario_type,\n    target_country: validatedData.target_country,\n    target_language: validatedData.target_language\n  }\n};"
      },
      "id": "56a35ce4-562e-40c4-97d1-f80098035361",
      "name": "Code - Check Client Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-client-exists",
              "leftValue": "={{ $json.clientExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "502d4a97-a637-4621-97a3-2178ebc323a2",
      "name": "IF - Client Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -432,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Client not found\",\n  \"details\": [\"Belirtilen client_id ile müşteri bulunamadı\"]\n}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "6342d06a-200a-4cc6-aff7-f688ba77fdc2",
      "name": "Respond - Client Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -208,
        64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO keyword_projects (\n  client_id, project_name, main_keyword, scenario_type, \n  target_country, target_language, status\n) VALUES (\n  {{ $json.client_id }},\n  '{{ $json.project_name }}',\n  '{{ $json.main_keyword }}',\n  '{{ $json.scenario_type }}',\n  '{{ $json.target_country }}',\n  '{{ $json.target_language }}',\n  'pending'\n)",
        "options": {}
      },
      "id": "141ae443-86c7-4520-8f12-3060bcd6cfd9",
      "name": "MySQL - Create Project",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -208,
        -224
      ],
      "credentials": {
        "mySql": {
          "id": "LYQGH6Sr5DJDmTWl",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, uuid, project_name, main_keyword, scenario_type, status \nFROM keyword_projects \nWHERE client_id = {{ $('IF - Client Exists').item.json.client_id }} \nORDER BY id DESC LIMIT 1",
        "options": {}
      },
      "id": "f2daf2c0-f6ad-41d9-a2dc-41e5f371d66f",
      "name": "MySQL - Get Created Project",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        16,
        -224
      ],
      "credentials": {
        "mySql": {
          "id": "LYQGH6Sr5DJDmTWl",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE keyword_projects \nSET status = 'processing', started_at = NOW() \nWHERE id = {{ $json.id }}",
        "options": {}
      },
      "id": "ffb962fe-4f0c-44f9-b32c-eb76e7a665d6",
      "name": "MySQL - Set Processing",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        240,
        -224
      ],
      "credentials": {
        "mySql": {
          "id": "LYQGH6Sr5DJDmTWl",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO activity_logs (\n  client_id, tool_name, project_id, action, log_level, message\n) VALUES (\n  {{ $('IF - Client Exists').item.json.client_id }},\n  'keyword_research',\n  {{ $('MySQL - Get Created Project').item.json.id }},\n  'project_created',\n  'info',\n  'Keyword research project created: {{ $('MySQL - Get Created Project').item.json.project_name }}'\n)",
        "options": {}
      },
      "id": "e8585810-f6c4-479f-830e-19df18b7cf1e",
      "name": "MySQL - Log Activity",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        464,
        -224
      ],
      "credentials": {
        "mySql": {
          "id": "LYQGH6Sr5DJDmTWl",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"data\": {\n    \"project_id\": {{ $('MySQL - Get Created Project').item.json.id }},\n    \"uuid\": \"{{ $('MySQL - Get Created Project').item.json.uuid }}\",\n    \"project_name\": \"{{ $('MySQL - Get Created Project').item.json.project_name }}\",\n    \"main_keyword\": \"{{ $('MySQL - Get Created Project').item.json.main_keyword }}\",\n    \"scenario_type\": \"{{ $('MySQL - Get Created Project').item.json.scenario_type }}\",\n    \"status\": \"processing\",\n    \"message\": \"Keyword research project created successfully\"\n  }\n}",
        "options": {}
      },
      "id": "681345ea-471f-47e6-a1be-00bd93f5ba19",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        -224
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Create Project": {
      "main": [
        [
          {
            "node": "Code - Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Input": {
      "main": [
        [
          {
            "node": "IF - Valid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Valid Input": {
      "main": [
        [
          {
            "node": "MySQL - Check Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Check Client": {
      "main": [
        [
          {
            "node": "Code - Check Client Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Check Client Result": {
      "main": [
        [
          {
            "node": "IF - Client Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Client Exists": {
      "main": [
        [
          {
            "node": "MySQL - Create Project",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Client Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Create Project": {
      "main": [
        [
          {
            "node": "MySQL - Get Created Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Get Created Project": {
      "main": [
        [
          {
            "node": "MySQL - Set Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Set Processing": {
      "main": [
        [
          {
            "node": "MySQL - Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Log Activity": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b4ddf196-fd24-49cd-8471-8e5c26e94041",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b468285422c3ac1dfe43a49affb64495474f15ffdd0b5464abf91e9f69526166"
  },
  "id": "dIVrirBMBGGWsr09",
  "tags": []
}