n8n/workflows/tool1/eski/WF-101-project-initializer.json
{
  "name": "WF-101 Keyword Project Initializer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tool1/project/create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Create Project",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "tool1-project-create"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO keyword_projects (client_id, project_name, main_keyword, scenario_type, target_country, target_language, status) VALUES ({{ $json.body.client_id }}, '{{ $json.body.project_name }}', '{{ $json.body.main_keyword }}', '{{ $json.body.scenario_type }}', '{{ $json.body.target_country || \"TR\" }}', '{{ $json.body.target_language || \"tr\" }}', 'pending'); SELECT LAST_INSERT_ID() as project_id, uuid FROM keyword_projects WHERE id = LAST_INSERT_ID();",
        "options": {}
      },
      "id": "mysql-insert",
      "name": "MySQL - Create Project",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "mySql": {
          "id": "1",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE keyword_projects SET status = 'processing', started_at = NOW() WHERE id = {{ $('MySQL - Create Project').item.json.project_id }}",
        "options": {}
      },
      "id": "mysql-update-status",
      "name": "MySQL - Set Processing",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [680, 300],
      "credentials": {
        "mySql": {
          "id": "1",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_logs (client_id, tool_name, project_id, action, log_level, message) VALUES ({{ $('Webhook - Create Project').item.json.body.client_id }}, 'keyword_research', {{ $('MySQL - Create Project').item.json.project_id }}, 'project_created', 'info', 'Keyword research project created and processing started')",
        "options": {}
      },
      "id": "mysql-log",
      "name": "MySQL - Log Activity",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [900, 300],
      "credentials": {
        "mySql": {
          "id": "1",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"data\": {\n    \"project_id\": {{ $('MySQL - Create Project').item.json.project_id }},\n    \"uuid\": \"{{ $('MySQL - Create Project').item.json.uuid }}\",\n    \"status\": \"processing\",\n    \"message\": \"Keyword research project created successfully\"\n  }\n}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook - Create Project": {
      "main": [
        [
          {
            "node": "MySQL - Create Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Create Project": {
      "main": [
        [
          {
            "node": "MySQL - Set Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Set Processing": {
      "main": [
        [
          {
            "node": "MySQL - Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Log Activity": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "seo-tool-suite"
  },
  "tags": [
    {
      "name": "Tool1-KeywordResearch"
    }
  ]
}
