n8n/workflows/tool1/eski/WF-105-serp-feature-detector.json
{
  "name": "WF-105: SERP Feature Detector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": ":projectId/detect-serp-features",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-serp",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "tool1-serp-features"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT kp.id as project_id, kp.main_keyword, kp.target_country, kp.target_language, kp.client_id, COALESCE(cc.enable_ahrefs_api, 0) as enable_ahrefs_api FROM keyword_projects kp LEFT JOIN client_configurations cc ON kp.client_id = cc.client_id WHERE kp.id = '{{ $json.params.projectId }}' LIMIT 1"
      },
      "id": "mysql-get-project",
      "name": "MySQL - Get Project",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [480, 300],
      "credentials": {
        "mySql": {
          "id": "1",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-project",
              "leftValue": "={{ $json.project_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-project-exists",
      "name": "IF - Project Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Generate mock SERP features data matching table schema\nconst projectData = $input.first().json;\nconst projectId = projectData.project_id;\nconst keyword = projectData.main_keyword;\n\n// Generate realistic mock data\nconst hasFS = Math.random() > 0.6;\nconst hasPAA = true;\nconst paaCount = Math.floor(Math.random() * 5) + 3;\n\nconst serpData = {\n  project_id: projectId,\n  has_featured_snippet: hasFS,\n  featured_snippet_type: hasFS ? ['paragraph', 'list', 'table'][Math.floor(Math.random() * 3)] : 'none',\n  featured_snippet_content: hasFS ? `${keyword} hakkinda ozet bilgi...` : null,\n  featured_snippet_url: hasFS ? 'https://example.com/featured' : null,\n  has_paa: hasPAA,\n  paa_count: paaCount,\n  has_video_results: Math.random() > 0.5,\n  has_image_pack: Math.random() > 0.4,\n  has_local_pack: Math.random() > 0.7,\n  has_knowledge_panel: Math.random() > 0.6,\n  has_shopping_results: Math.random() > 0.8,\n  has_news_results: Math.random() > 0.85,\n  organic_results_count: 10,\n  ads_count: Math.floor(Math.random() * 4),\n  zero_click_risk: hasFS ? 'high' : 'medium',\n  raw_serp_json: null,\n  source: 'mock',\n  paa_questions: []\n};\n\nconst questionTemplates = [\n  `${keyword} nedir?`,\n  `${keyword} nasil yapilir?`,\n  `${keyword} fiyatlari ne kadar?`,\n  `En iyi ${keyword} hangisi?`,\n  `${keyword} avantajlari nelerdir?`,\n  `${keyword} kullanimi nasil?`,\n  `${keyword} ile ilgili SSS`\n];\n\nserpData.paa_questions = questionTemplates.slice(0, paaCount).map((q, idx) => ({\n  question: q,\n  answer_snippet: null,\n  source_url: null,\n  source_domain: null,\n  position: idx + 1\n}));\n\nreturn [{ json: serpData }];"
      },
      "id": "code-mock-features",
      "name": "Code - Generate SERP Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO serp_features (project_id, has_featured_snippet, featured_snippet_type, has_paa, paa_count, has_video_results, has_image_pack, has_local_pack, has_knowledge_panel, has_shopping_results, has_news_results, organic_results_count, ads_count, zero_click_risk) VALUES ({{ $json.project_id }}, {{ $json.has_featured_snippet ? 1 : 0 }}, '{{ $json.featured_snippet_type || 'none' }}', {{ $json.has_paa ? 1 : 0 }}, {{ $json.paa_count || 0 }}, {{ $json.has_video_results ? 1 : 0 }}, {{ $json.has_image_pack ? 1 : 0 }}, {{ $json.has_local_pack ? 1 : 0 }}, {{ $json.has_knowledge_panel ? 1 : 0 }}, {{ $json.has_shopping_results ? 1 : 0 }}, {{ $json.has_news_results ? 1 : 0 }}, {{ $json.organic_results_count || 10 }}, {{ $json.ads_count || 0 }}, '{{ $json.zero_click_risk || 'low' }}') ON DUPLICATE KEY UPDATE has_featured_snippet = VALUES(has_featured_snippet), featured_snippet_type = VALUES(featured_snippet_type), has_paa = VALUES(has_paa), paa_count = VALUES(paa_count), has_video_results = VALUES(has_video_results), has_image_pack = VALUES(has_image_pack), has_local_pack = VALUES(has_local_pack), has_knowledge_panel = VALUES(has_knowledge_panel), has_shopping_results = VALUES(has_shopping_results), has_news_results = VALUES(has_news_results), organic_results_count = VALUES(organic_results_count), ads_count = VALUES(ads_count), zero_click_risk = VALUES(zero_click_risk), analyzed_at = NOW()"
      },
      "id": "mysql-save-serp",
      "name": "MySQL - Save SERP Features",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [1140, 300],
      "credentials": {
        "mySql": {
          "id": "1",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\nconst projectId = data.project_id;\nconst paaQuestions = data.paa_questions || [];\n\nif (paaQuestions.length === 0) {\n  return [{ json: { project_id: projectId, skip_paa: true, paa_count: 0 } }];\n}\n\nreturn paaQuestions.map((paa, idx) => ({\n  json: {\n    project_id: projectId,\n    question: paa.question,\n    answer_snippet: paa.answer_snippet || null,\n    source_url: paa.source_url || null,\n    source_domain: paa.source_domain || null,\n    position: paa.position || idx + 1,\n    is_recommended_as_h2: idx < 2 ? 1 : 0,\n    is_recommended_as_h3: idx >= 2 ? 1 : 0,\n    relevance_score: (100 - (idx * 10)).toFixed(2)\n  }\n}));"
      },
      "id": "code-split-paa",
      "name": "Code - Split PAA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-paa",
              "leftValue": "={{ $json.skip_paa }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-paa",
      "name": "IF - Has PAA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1580, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO paa_data (project_id, question, position, is_recommended_as_h2, is_recommended_as_h3, relevance_score) VALUES ({{ $json.project_id }}, '{{ $json.question.replace(/'/g, \"''\") }}', {{ $json.position }}, {{ $json.is_recommended_as_h2 }}, {{ $json.is_recommended_as_h3 }}, {{ $json.relevance_score }})"
      },
      "id": "mysql-save-paa",
      "name": "MySQL - Save PAA",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [1800, 200],
      "credentials": {
        "mySql": {
          "id": "1",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE keyword_projects SET total_paa_found = (SELECT paa_count FROM serp_features WHERE project_id = {{ $('Code - Generate SERP Data').item.json.project_id }} LIMIT 1) WHERE id = {{ $('Code - Generate SERP Data').item.json.project_id }}"
      },
      "id": "mysql-update-project",
      "name": "MySQL - Update Project PAA",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [2020, 300],
      "credentials": {
        "mySql": {
          "id": "1",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const serpData = $input.first().json;\nconst paaCount = $input.all().length;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'SERP features detected successfully',\n    project_id: serpData.project_id,\n    serp_features: {\n      has_featured_snippet: serpData.has_featured_snippet || false,\n      featured_snippet_type: serpData.featured_snippet_type || 'none',\n      has_paa: serpData.has_paa || false,\n      paa_count: serpData.paa_count || 0,\n      has_video_results: serpData.has_video_results || false,\n      has_image_pack: serpData.has_image_pack || false,\n      has_local_pack: serpData.has_local_pack || false,\n      has_knowledge_panel: serpData.has_knowledge_panel || false,\n      zero_click_risk: serpData.zero_click_risk || 'low'\n    },\n    paa_questions_saved: paaCount,\n    source: 'mock'\n  }\n}];"
      },
      "id": "code-response",
      "name": "Code - Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": {\n    \"message\": \"Project not found\",\n    \"code\": \"NOT_FOUND\"\n  }\n}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "respond-not-found",
      "name": "Respond - Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "MySQL - Get Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Get Project": {
      "main": [
        [
          {
            "node": "IF - Project Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Project Exists": {
      "main": [
        [
          {
            "node": "Code - Generate SERP Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Generate SERP Data": {
      "main": [
        [
          {
            "node": "MySQL - Save SERP Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Save SERP Features": {
      "main": [
        [
          {
            "node": "Code - Split PAA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Split PAA": {
      "main": [
        [
          {
            "node": "IF - Has PAA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has PAA": {
      "main": [
        [
          {
            "node": "MySQL - Save PAA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MySQL - Update Project PAA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Save PAA": {
      "main": [
        [
          {
            "node": "MySQL - Update Project PAA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Update Project PAA": {
      "main": [
        [
          {
            "node": "Code - Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Response": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "wf-105-v3",
  "tags": [
    {
      "id": "1",
      "name": "Tool1-KeywordResearch"
    }
  ]
}
