n8n-workflows/sheets-connect.json
{
  "name": "WF-002 Sheets Connect",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sheets-connect",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "sheets-connect-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "sheets-connect"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const url = $json.body?.spreadsheet_url || '';\nconst match = url.match(/\\/spreadsheets\\/d\\/([a-zA-Z0-9-_]+)/);\nconst spreadsheetId = match ? match[1] : null;\nif (!spreadsheetId) {\n  return { json: { success: false, error: 'Geçersiz Google Sheets URL' } };\n}\nreturn { json: { spreadsheetId, originalUrl: url } };"
      },
      "id": "parse-url",
      "name": "Parse URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.spreadsheetId }}", "rightValue": "", "operator": { "type": "string", "operation": "notEquals" }}],
          "combinator": "and"
        }
      },
      "id": "if-valid",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "get",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $json.spreadsheetId }}" },
        "options": {}
      },
      "id": "get-sheets",
      "name": "Get Spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [660, -60]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const s = $json;\nreturn { json: {\n  success: true,\n  spreadsheet_id: s.spreadsheetId,\n  spreadsheet_name: s.properties?.title || 'Untitled',\n  spreadsheet_url: s.spreadsheetUrl,\n  sheets: (s.sheets || []).map(sh => ({ name: sh.properties?.title, gid: String(sh.properties?.sheetId || 0) }))\n}};"
      },
      "id": "format",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -60]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": {} },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, -60]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={ \"success\": false, \"error\": \"Geçersiz URL\" }", "options": { "responseCode": 400 } },
      "id": "respond-err",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 80]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse URL", "type": "main", "index": 0 }]] },
    "Parse URL": { "main": [[{ "node": "IF Valid", "type": "main", "index": 0 }]] },
    "IF Valid": { "main": [[{ "node": "Get Spreadsheet", "type": "main", "index": 0 }], [{ "node": "Respond Error", "type": "main", "index": 0 }]] },
    "Get Spreadsheet": { "main": [[{ "node": "Format", "type": "main", "index": 0 }]] },
    "Format": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
