n8n/workflows/tool1/WF-104-competitor-analyzer.json
{
  "name": "WF-104: Competitor Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": ":projectId/analyze-competitors",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "tool1-competitor-analyze"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Input validation\nconst projectId = $json.params?.projectId;\n\nif (!projectId) {\n  return {\n    json: {\n      isValid: false,\n      error: 'projectId parametresi zorunludur',\n      errorCode: 400\n    }\n  };\n}\n\nconst parsedId = parseInt(projectId);\nif (isNaN(parsedId) || parsedId <= 0) {\n  return {\n    json: {\n      isValid: false,\n      error: 'projectId gecerli bir pozitif sayi olmalidir',\n      errorCode: 400\n    }\n  };\n}\n\n// Get competitor count from body (optional)\nconst body = $json.body || {};\nlet competitorCount = parseInt(body.competitor_count) || 10;\ncompetitorCount = Math.min(Math.max(competitorCount, 3), 20); // 3-20 aras\u0131\n\nreturn {\n  json: {\n    isValid: true,\n    projectId: parsedId,\n    competitorCount: competitorCount\n  }\n};"
      },
      "id": "code-validate",
      "name": "Code - Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "IF - Valid Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Validation failed\",\n  \"message\": \"{{ $json.error }}\"\n}",
        "options": {
          "responseCode": "={{ $json.errorCode }}"
        }
      },
      "id": "respond-validation-error",
      "name": "Respond - Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  (SELECT id FROM keyword_projects WHERE id = {{ $json.projectId }}) as project_id,\n  (SELECT project_name FROM keyword_projects WHERE id = {{ $json.projectId }}) as project_name,\n  (SELECT main_keyword FROM keyword_projects WHERE id = {{ $json.projectId }}) as main_keyword,\n  (SELECT target_country FROM keyword_projects WHERE id = {{ $json.projectId }}) as target_country,\n  (SELECT target_language FROM keyword_projects WHERE id = {{ $json.projectId }}) as target_language,\n  (SELECT client_id FROM keyword_projects WHERE id = {{ $json.projectId }}) as client_id",
        "options": {}
      },
      "id": "mysql-check-project",
      "name": "MySQL - Check Project",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        900,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "LYQGH6Sr5DJDmTWl",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Check if project exists\nconst result = $input.first().json;\nconst validatedData = $('Code - Validate Input').first().json;\n\nif (!result.project_id) {\n  return [{\n    json: {\n      projectExists: false,\n      projectId: validatedData.projectId\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    projectExists: true,\n    projectId: result.project_id,\n    projectName: result.project_name,\n    mainKeyword: result.main_keyword,\n    targetCountry: result.target_country || 'tr',\n    targetLanguage: result.target_language || 'tr',\n    clientId: result.client_id,\n    competitorCount: validatedData.competitorCount\n  }\n}];"
      },
      "id": "code-check-project",
      "name": "Code - Check Project",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "project-exists",
              "leftValue": "={{ $json.projectExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-project-exists",
      "name": "IF - Project Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Project not found\",\n  \"message\": \"Proje bulunamadi: {{ $json.projectId }}\"\n}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "respond-not-found",
      "name": "Respond - Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1560,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  COALESCE(cc.enable_ahrefs_api, 0) as enable_ahrefs_api,\n  COALESCE(cc.enable_serper_api, 1) as enable_serper_api,\n  COALESCE(cc.competitor_count, 10) as competitor_count\nFROM clients c\nLEFT JOIN client_configurations cc ON c.id = cc.client_id\nWHERE c.id = {{ $json.clientId }}",
        "options": {}
      },
      "id": "mysql-get-config",
      "name": "MySQL - Get Client Config",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "LYQGH6Sr5DJDmTWl",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Determine which API to use\nconst config = $input.first().json;\nconst projectData = $('IF - Project Exists').first().json;\n\n// Priority: Ahrefs > Serper > Mock\nlet apiSource = 'mock';\nif (config.enable_ahrefs_api === 1) {\n  apiSource = 'ahrefs';\n} else if (config.enable_serper_api === 1) {\n  apiSource = 'serper';\n}\n\nreturn [{\n  json: {\n    ...projectData,\n    apiSource: apiSource,\n    competitorCount: projectData.competitorCount || config.competitor_count || 10\n  }\n}];"
      },
      "id": "code-determine-source",
      "name": "Code - Determine API Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE keyword_projects SET status = 'processing' WHERE id = {{ $json.projectId }}",
        "options": {}
      },
      "id": "mysql-update-status",
      "name": "MySQL - Update Status",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "LYQGH6Sr5DJDmTWl",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.apiSource }}",
                    "rightValue": "ahrefs",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ahrefs"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.apiSource }}",
                    "rightValue": "serper",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Serper"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.apiSource }}",
                    "rightValue": "mock",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mock"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-api-source",
      "name": "Switch - API Source",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.ahrefs.com/v3/serp-overview/serp",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "target",
              "value": "={{ $('Code - Determine API Source').first().json.mainKeyword }}"
            },
            {
              "name": "country",
              "value": "={{ $('Code - Determine API Source').first().json.targetCountry }}"
            },
            {
              "name": "limit",
              "value": "={{ $('Code - Determine API Source').first().json.competitorCount }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-ahrefs",
      "name": "HTTP - Ahrefs SERP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ahrefs-api",
          "name": "Ahrefs API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"q\": \"{{ $json.mainKeyword }}\", \"gl\": \"{{ $json.targetCountry }}\", \"hl\": \"{{ $json.targetLanguage }}\", \"num\": {{ $json.competitorCount }}}",
        "options": {}
      },
      "id": "http-serper",
      "name": "HTTP - Serper SERP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cJriPdlzxhSpC5n2",
          "name": "Serper API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Generate mock SERP data for testing\nconst projectData = $('Code - Determine API Source').first().json;\nconst keyword = projectData.mainKeyword || 'test keyword';\nconst count = projectData.competitorCount || 10;\n\nconst mockResults = [];\nfor (let i = 1; i <= count; i++) {\n  mockResults.push({\n    position: i,\n    url: `https://example${i}.com/${keyword.replace(/\\s+/g, '-')}`,\n    domain: `example${i}.com`,\n    title: `${keyword} - Ornek Baslik ${i}`,\n    description: `${keyword} hakkinda detayli bilgi. Ornek aciklama ${i}.`,\n    source: 'mock'\n  });\n}\n\nreturn [{ json: { organic: mockResults, source: 'mock' } }];"
      },
      "id": "code-mock",
      "name": "Code - Mock SERP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Transform Ahrefs response to standard format\nconst response = $input.first().json;\nconst projectData = $('Code - Determine API Source').first().json;\n\n// Handle error\nif (response.error || !response.serp) {\n  return [{ json: { organic: [], source: 'ahrefs', error: response.error || 'No data' } }];\n}\n\nconst positions = response.serp?.positions || response.positions || [];\nconst organic = positions.map((pos, idx) => ({\n  position: pos.position || idx + 1,\n  url: pos.url || '',\n  domain: pos.domain || '',\n  title: pos.title || '',\n  description: pos.description || '',\n  domainRating: pos.domain_rating || pos.dr || null,\n  backlinks: pos.backlinks || null,\n  source: 'ahrefs'\n}));\n\nreturn [{ json: { organic, source: 'ahrefs' } }];"
      },
      "id": "code-transform-ahrefs",
      "name": "Code - Transform Ahrefs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        100
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Transform Serper response to standard format\nconst response = $input.first().json;\n\n// Handle error\nif (response.error || !response.organic) {\n  return [{ json: { organic: [], source: 'serper', error: response.error || 'No data' } }];\n}\n\n// Extract domain from URL using regex\nconst getDomain = (url) => {\n  if (!url) return '';\n  const match = url.match(/^https?[:][\\/][\\/]([^\\/]+)/);\n  return match ? match[1] : '';\n};\n\nconst organic = (response.organic || []).map((item, idx) => ({\n  position: item.position || idx + 1,\n  url: item.link || '',\n  domain: getDomain(item.link),\n  title: item.title || '',\n  description: item.snippet || '',\n  source: 'serper'\n}));\n\nreturn [{ json: { organic, source: 'serper' } }];"
      },
      "id": "code-transform-serper",
      "name": "Code - Transform Serper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        300
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2940,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Process results and prepare for database insert\nconst serpData = $input.first().json;\nconst projectData = $('Code - Determine API Source').first().json;\n\nif (!serpData || !serpData.organic || serpData.organic.length === 0) {\n  return [{\n    json: {\n      success: false,\n      error: 'No SERP data received',\n      projectId: projectData.projectId,\n      source: serpData?.source || 'none'\n    }\n  }];\n}\n\n// Return each competitor as separate item for batch insert\nconst competitors = serpData.organic.map(comp => ({\n  json: {\n    projectId: projectData.projectId,\n    position: comp.position,\n    url: comp.url,\n    domain: comp.domain,\n    title: (comp.title || '').substring(0, 500),\n    description: (comp.description || '').substring(0, 1000),\n    domainRating: comp.domainRating || null,\n    backlinks: comp.backlinks || null,\n    source: serpData.source\n  }\n}));\n\nreturn competitors;"
      },
      "id": "code-process-results",
      "name": "Code - Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3160,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-data",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-data",
      "name": "IF - Has Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3380,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO competitor_data (project_id, competitor_url, competitor_domain, serp_position, title, meta_description, domain_rating, backlinks_count, source)\nVALUES (\n  {{ $json.projectId }},\n  '{{ $json.url.replace(/'/g, \"''\") }}',\n  '{{ $json.domain.replace(/'/g, \"''\") }}',\n  {{ $json.position }},\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.description.replace(/'/g, \"''\") }}',\n  {{ $json.domainRating || 'NULL' }},\n  {{ $json.backlinks || 'NULL' }},\n  '{{ $json.source }}'\n)\nON DUPLICATE KEY UPDATE\n  serp_position = VALUES(serp_position),\n  title = VALUES(title),\n  meta_description = VALUES(meta_description)",
        "options": {}
      },
      "id": "mysql-insert-competitor",
      "name": "MySQL - Insert Competitor",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3600,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "LYQGH6Sr5DJDmTWl",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE keyword_projects \nSET \n  status = 'competitors_analyzed',\n  total_competitors_analyzed = (SELECT COUNT(*) FROM competitor_data WHERE project_id = {{ $('Code - Determine API Source').first().json.projectId }}),\n  updated_at = NOW()\nWHERE id = {{ $('Code - Determine API Source').first().json.projectId }}",
        "options": {}
      },
      "id": "mysql-update-project",
      "name": "MySQL - Update Project",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3820,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "LYQGH6Sr5DJDmTWl",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepare success response\nconst projectData = $('Code - Determine API Source').first().json;\nconst insertedItems = $('MySQL - Insert Competitor').all();\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      projectId: projectData.projectId,\n      projectName: projectData.projectName,\n      mainKeyword: projectData.mainKeyword,\n      competitorsAnalyzed: insertedItems.length,\n      source: projectData.apiSource,\n      status: 'competitors_analyzed'\n    },\n    message: `${insertedItems.length} rakip basariyla analiz edildi`\n  }\n}];"
      },
      "id": "code-prepare-response",
      "name": "Code - Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4040,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4260,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"No SERP data\",\n  \"message\": \"{{ $json.error || 'Hicbir kaynaktan SERP verisi alinamadi' }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-no-data",
      "name": "Respond - No Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3600,
        500
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code - Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Input": {
      "main": [
        [
          {
            "node": "IF - Valid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Valid Input": {
      "main": [
        [
          {
            "node": "MySQL - Check Project",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Check Project": {
      "main": [
        [
          {
            "node": "Code - Check Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Check Project": {
      "main": [
        [
          {
            "node": "IF - Project Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Project Exists": {
      "main": [
        [
          {
            "node": "MySQL - Get Client Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Get Client Config": {
      "main": [
        [
          {
            "node": "Code - Determine API Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Determine API Source": {
      "main": [
        [
          {
            "node": "Switch - API Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - API Source": {
      "main": [
        [
          {
            "node": "HTTP - Ahrefs SERP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Serper SERP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Mock SERP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Ahrefs SERP": {
      "main": [
        [
          {
            "node": "Code - Transform Ahrefs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Serper SERP": {
      "main": [
        [
          {
            "node": "Code - Transform Serper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Transform Ahrefs": {
      "main": [
        [
          {
            "node": "Code - Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Transform Serper": {
      "main": [
        [
          {
            "node": "Code - Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Mock SERP": {
      "main": [
        [
          {
            "node": "Code - Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Process Results": {
      "main": [
        [
          {
            "node": "IF - Has Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Data": {
      "main": [
        [
          {
            "node": "MySQL - Insert Competitor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - No Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Insert Competitor": {
      "main": [
        [
          {
            "node": "MySQL - Update Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL - Update Project": {
      "main": [
        [
          {
            "node": "Code - Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Response": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "id": "1",
      "name": "Tool1-KeywordResearch"
    }
  ]
}
