update/WF-KEYWORD-RESEARCH_ Keyword Discovery & Filter (1).json
{
  "name": "WF-KEYWORD-RESEARCH: Keyword Discovery & Filter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keyword-research",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c70468eb-0ac9-4c84-a3d5-02fd21be6d78",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2208,
        96
      ],
      "webhookId": "keyword-research"
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// INPUT VALIDATION\n// ===========================================\nconst body = $json.body || {};\nconst keyword = body.keyword || body.main_keyword;\nconst projectId = body.project_id;\nconst clientId = body.client_id;\nconst country = (body.country || 'TR').toUpperCase();\nconst language = body.language || 'tr';\n\nif (!keyword || keyword.trim().length < 2) {\n  return [{ json: { \n    isValid: false, \n    error: 'keyword parametresi zorunludur (min 2 karakter)', \n    errorCode: 400 \n  }}];\n}\n\nconst locationCodes = {\n  'TR': 2792, 'US': 2840, 'GB': 2826, 'DE': 2276, 'FR': 2250\n};\n\nreturn [{ json: { \n  isValid: true, \n  keyword: keyword.trim().toLowerCase(),\n  projectId: projectId ? parseInt(projectId) : null,\n  clientId: clientId ? parseInt(clientId) : null,\n  country: country,\n  language: language,\n  locationCode: locationCodes[country] || 2792\n}}];"
      },
      "id": "8cc61de3-5455-4f4e-a9b1-9cf46e4218e8",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "069f92c7-f75c-4475-bf71-2036f8f4ff93",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1760,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"{{ $json.error }}\" }",
        "options": {
          "responseCode": "={{ $json.errorCode }}"
        }
      },
      "id": "c5fd19e2-41c5-4ff2-a7fa-427b9182ef63",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1536,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  COALESCE(cc.enable_ai_analysis, 1) as enable_ai_analysis,\n  cc.ai_model_preference,\n  cc.ai_temperature\nFROM client_configurations cc\nWHERE cc.client_id = {{ $json.clientId || 0 }}\nUNION ALL\nSELECT 1, 'gemini-2.0-flash', 0.7\nFROM dual\nWHERE NOT EXISTS (SELECT 1 FROM client_configurations WHERE client_id = {{ $json.clientId || 0 }})\nLIMIT 1",
        "options": {}
      },
      "id": "91397e6d-df72-46c3-8e73-41e37ca6fd27",
      "name": "Get Client Config",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1536,
        96
      ],
      "credentials": {
        "mySql": {
          "id": "1rDLBK64lV00T0am",
          "name": "SEO Suite MySQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// PREPARE CONFIG FOR API CALLS\n// ===========================================\nconst input = $('Validate Input').first().json;\nconst config = $input.first().json;\n\nreturn [{ json: {\n  ...input,\n  enableAiAnalysis: config.enable_ai_analysis == 1,\n  aiModel: config.ai_model_preference || 'gemini-2.0-flash',\n  aiTemperature: parseFloat(config.ai_temperature) || 0.7\n}}];"
      },
      "id": "3016bb81-bc6e-4ea9-b214-c4be584a8299",
      "name": "Prepare Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        96
      ]
    },
    {
      "parameters": {
        "url": "=http://suggestqueries.google.com/complete/search?client=firefox&q={{ encodeURIComponent($json.keyword) }}&hl={{ $json.language }}&gl={{ $json.country.toLowerCase() }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "c7e39bc7-4492-4dd9-bedc-8b641998f9d9",
      "name": "Google Suggestions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        96
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/keywords_data/google_ads/keywords_for_keywords/live",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic b2t0YXlAc2VvYXJ0LmNvbTo0ODk2ZGRhYzQ2OWUyZjIw"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\n  \"keywords\": [\"{{ $('Prepare Config').first().json.keyword }}\"],\n  \"location_code\": {{ $('Prepare Config').first().json.locationCode }},\n  \"language_code\": \"{{ $('Prepare Config').first().json.language }}\",\n  \"include_seed_keyword\": true,\n  \"sort_by\": \"search_volume\"\n}]",
        "options": {
          "timeout": 60000
        }
      },
      "id": "46a01c99-c1d5-4033-9f94-b74a1b97c107",
      "name": "DataForSEO Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        96
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// MERGE ALL KEYWORD SOURCES + TURKISH NORMALIZATION\n// ===========================================\nconst config = $('Prepare Config').first().json;\nconst mainKeyword = config.keyword;\n\n// Turkish character normalization for comparison\nfunction normalizeForComparison(str) {\n  return str.toLowerCase()\n    .replace(/ı/g, 'i').replace(/İ/g, 'i')\n    .replace(/ş/g, 's').replace(/Ş/g, 's')\n    .replace(/ö/g, 'o').replace(/Ö/g, 'o')\n    .replace(/ü/g, 'u').replace(/Ü/g, 'u')\n    .replace(/ç/g, 'c').replace(/Ç/g, 'c')\n    .replace(/ğ/g, 'g').replace(/Ğ/g, 'g')\n    .replace(/[^a-z0-9\\s]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Check if keyword has proper Turkish characters\nfunction hasTurkishChars(str) {\n  return /[ıİşŞöÖüÜçÇğĞ]/.test(str);\n}\n\n// Parse Google Suggestions\nlet suggestions = [];\ntry {\n  const sugResponse = $('Google Suggestions').first().json;\n  if (Array.isArray(sugResponse) && Array.isArray(sugResponse[1])) {\n    suggestions = sugResponse[1].map(s => ({\n      keyword: String(s).toLowerCase(),\n      search_volume: null,\n      cpc: null,\n      competition: null,\n      source: 'google_suggest'\n    }));\n  }\n} catch (e) { console.log('Suggestions parse error:', e.message); }\n\n// Parse DataForSEO\nlet dataforseoKeywords = [];\ntry {\n  const dfsResponse = $('DataForSEO Keywords').first().json;\n  if (dfsResponse?.tasks?.[0]?.result && Array.isArray(dfsResponse.tasks[0].result)) {\n    dataforseoKeywords = dfsResponse.tasks[0].result.map(kw => ({\n      keyword: (kw.keyword || '').toLowerCase(),\n      search_volume: kw.search_volume || 0,\n      cpc: kw.cpc || 0,\n      competition: kw.competition || null,\n      competition_index: kw.competition_index || 0,\n      source: 'dataforseo'\n    })).filter(kw => kw.keyword);\n  }\n} catch (e) { console.log('DataForSEO parse error:', e.message); }\n\n// Merge and dedupe with Turkish normalization\nconst allKeywords = [...dataforseoKeywords, ...suggestions];\nconst seen = new Map();\n\nallKeywords.forEach(kw => {\n  if (!kw.keyword || kw.keyword.length < 2) return;\n  \n  const normalizedKey = normalizeForComparison(kw.keyword);\n  if (!normalizedKey || normalizedKey.length < 2) return;\n  \n  if (!seen.has(normalizedKey)) {\n    seen.set(normalizedKey, kw);\n  } else {\n    const existing = seen.get(normalizedKey);\n    const existingHasTurkish = hasTurkishChars(existing.keyword);\n    const newHasTurkish = hasTurkishChars(kw.keyword);\n    \n    if (newHasTurkish && !existingHasTurkish) {\n      kw.search_volume = kw.search_volume || existing.search_volume;\n      kw.cpc = kw.cpc || existing.cpc;\n      kw.competition = kw.competition || existing.competition;\n      kw.source = existing.source + ',' + kw.source;\n      seen.set(normalizedKey, kw);\n    } else {\n      if (kw.search_volume && !existing.search_volume) {\n        existing.search_volume = kw.search_volume;\n        existing.cpc = kw.cpc;\n        existing.competition = kw.competition;\n      }\n      if (kw.source && !existing.source.includes(kw.source)) {\n        existing.source += ',' + kw.source;\n      }\n    }\n  }\n});\n\nconst uniqueKeywords = Array.from(seen.values());\n\nconst mainNormalized = normalizeForComparison(mainKeyword);\nif (!seen.has(mainNormalized)) {\n  uniqueKeywords.unshift({\n    keyword: mainKeyword,\n    search_volume: null,\n    cpc: null,\n    competition: null,\n    source: 'seed'\n  });\n}\n\nreturn [{\n  json: {\n    mainKeyword: mainKeyword,\n    projectId: config.projectId,\n    clientId: config.clientId,\n    country: config.country,\n    language: config.language,\n    enableAiAnalysis: config.enableAiAnalysis,\n    aiModel: config.aiModel,\n    aiTemperature: config.aiTemperature,\n    keywords: uniqueKeywords,\n    stats: {\n      total_raw: allKeywords.length,\n      after_dedup: uniqueKeywords.length,\n      from_google_suggest: suggestions.length,\n      from_dataforseo: dataforseoKeywords.length\n    }\n  }\n}];"
      },
      "id": "086f545f-5460-4abb-b3a2-98c492852fc8",
      "name": "Merge Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// PREPARE FINAL SELECTION PROMPT\n// Select top 25-30 keywords for content strategy\n// ===========================================\nconst data = $input.first().json;\nconst keywords = data.keywords || [];\nconst mainKeyword = data.mainKeyword;\n\nif (keywords.length <= 30) {\n  // Already small enough, skip final selection\n  return [{ json: { ...data, skipFinalSelection: true, selected_keywords: keywords } }];\n}\n\n// Sort by search volume and take top 100 for AI to evaluate\nconst sortedKeywords = [...keywords].sort((a, b) => (b.search_volume || 0) - (a.search_volume || 0)).slice(0, 100);\n\nconst keywordList = sortedKeywords.map((kw, i) => {\n  const vol = kw.search_volume || 0;\n  const cpc = kw.cpc ? kw.cpc.toFixed(2) : '0';\n  const comp = kw.competition || '-';\n  return `${i+1}. ${kw.keyword} | Vol: ${vol} | CPC: ${cpc} | Comp: ${comp}`;\n}).join('\\n');\n\nconst prompt = `Sen bir SEO uzmanisin. Asagidaki keyword listesinden icerik stratejisi icin EN ONEMLI 25-30 tanesini sec.\n\nAna Keyword: ${mainKeyword}\nUlke: ${data.country}\n\nSecim Kriterleri:\n1. Ana keyword ile DOGRUDAN ilgili olmali\n2. Farkli arama niyetlerini (informational, commercial, transactional) kapsamali\n3. Farkli icerik turleri icin uygun olmali (pillar, cluster, landing)\n4. Benzer/tekrar eden keywordleri ELEME - sadece en iyisini sec\n5. Cok genel veya cok spesifik olanlari eleme\n6. Search volume ve rekabet dengesine bak\n\nKEYWORD LISTESI:\n${keywordList}\n\nSadece sectigin keywordlerin NUMARALARINI ver, virgul ile ayir.\nOrnek: 1, 3, 5, 7, 12, 15, 18, 22, 25, 28\n\nSECILEN NUMARALAR:`;\n\nreturn [{\n  json: {\n    ...data,\n    skipFinalSelection: false,\n    finalSelectionPrompt: prompt,\n    sortedKeywords: sortedKeywords\n  }\n}];"
      },
      "id": "0cad385a-2560-4486-a0aa-ccea222a4f6a",
      "name": "Prepare Final Selection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "need-selection",
              "leftValue": "={{ $json.skipFinalSelection }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3a593a31-2590-4a0b-a381-7d1d690ec480",
      "name": "IF Need Selection",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  {\n    \"contents\": [{\n      \"parts\": [{\n        \"text\": {{ JSON.stringify($json.finalSelectionPrompt + ($json.custom_rules ? \"\\n\\nÖZEL KURALLAR (Bu kurallara\n  kesinlikle uy):\\n\" + $json.custom_rules : \"\")) }}\n      }]\n    }],\n    \"generationConfig\": {\n      \"temperature\": 0.3,\n      \"maxOutputTokens\": 1024\n    }\n  }",
        "options": {
          "timeout": 60000
        }
      },
      "id": "862b962e-8734-4867-a5e4-cfb53bac45dd",
      "name": "Gemini Final Selection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hp8gTY1C1efbSfkx",
          "name": "Gemini API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// PARSE FINAL SELECTION RESPONSE\n// ===========================================\nconst prevData = $('Prepare Final Selection').first().json;\nconst geminiResponse = $input.first().json;\nconst sortedKeywords = prevData.sortedKeywords || [];\n\nlet selectedKeywords = [];\n\ntry {\n  const text = geminiResponse?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  // Extract numbers from response\n  const numbers = text.match(/\\d+/g) || [];\n  const selectedIndices = numbers.map(n => parseInt(n)).filter(n => n >= 1 && n <= sortedKeywords.length);\n  \n  // Get unique indices\n  const uniqueIndices = [...new Set(selectedIndices)];\n  \n  // Map to keywords\n  selectedKeywords = uniqueIndices.map(idx => sortedKeywords[idx - 1]).filter(Boolean);\n  \n  // If AI returned too few, take top by volume\n  if (selectedKeywords.length < 15) {\n    selectedKeywords = sortedKeywords.slice(0, 30);\n  }\n} catch (e) {\n  console.log('Final selection parse error:', e.message);\n  selectedKeywords = sortedKeywords.slice(0, 30);\n}\n\nreturn [{\n  json: {\n    mainKeyword: prevData.mainKeyword,\n    projectId: prevData.projectId,\n    clientId: prevData.clientId,\n    country: prevData.country,\n    language: prevData.language,\n    enableAiAnalysis: prevData.enableAiAnalysis,\n    aiModel: prevData.aiModel,\n    aiTemperature: prevData.aiTemperature,\n    keywords: selectedKeywords,\n    stats: {\n      ...prevData.stats,\n      after_final_selection: selectedKeywords.length\n    }\n  }\n}];"
      },
      "id": "f5e508ff-7b25-496d-ae00-eb3a172d1f9e",
      "name": "Parse Final Selection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// SKIP FINAL SELECTION - Already few keywords\n// ===========================================\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    mainKeyword: data.mainKeyword,\n    projectId: data.projectId,\n    clientId: data.clientId,\n    country: data.country,\n    language: data.language,\n    enableAiAnalysis: data.enableAiAnalysis,\n    aiModel: data.aiModel,\n    aiTemperature: data.aiTemperature,\n    keywords: data.selected_keywords || data.keywords,\n    stats: {\n      ...data.stats,\n      after_final_selection: (data.selected_keywords || data.keywords || []).length\n    }\n  }\n}];"
      },
      "id": "583014d3-0a20-46ae-a2f6-a26b69ec79a3",
      "name": "Skip Final Selection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// PREPARE AI ENRICHMENT PROMPT\n// ===========================================\nlet data = null;\ntry { data = $('Parse Final Selection').first().json; } catch(e) {}\nif (!data) { try { data = $('Skip Final Selection').first().json; } catch(e) {} }\nif (!data) { data = $input.first().json; }\n\nconst keywords = data.keywords || [];\n\nif (keywords.length === 0) {\n  return [{ json: { skip: true, message: 'No keywords to enrich' } }];\n}\n\nif (!data.enableAiAnalysis) {\n  return [{ json: { skipAi: true, ...data } }];\n}\n\nconst keywordCsv = keywords.map((kw, i) => {\n  const vol = kw.search_volume || 0;\n  const cpc = kw.cpc ? kw.cpc.toFixed(2) : '0';\n  return `${i+1}|${kw.keyword}|${vol}|${cpc}`;\n}).join('\\n');\n\nconst prompt = `Sen bir SEO uzmanisin. Her keyword icin intent, cluster, priority ve content_type belirle.\n\nAna Keyword: ${data.mainKeyword}\nUlke: ${data.country}\n\nKEYWORDS:\nNo|Keyword|Volume|CPC\n${keywordCsv}\n\nHer satir icin:\nNo|intent|cluster|priority|content_type\n\nintent: informational, commercial, transactional, navigational\npriority: high, medium, low\ncontent_type: pillar, cluster, landing, comparison, guide\n\nCIKTI:`;\n\nreturn [{\n  json: {\n    ...data,\n    skip: false,\n    skipAi: false,\n    enrichPrompt: prompt\n  }\n}];"
      },
      "id": "e0a98999-926b-4fac-9a19-10d344c8c316",
      "name": "Prepare Enrich Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            },
            {
              "id": "not-skip-ai",
              "leftValue": "={{ $json.skipAi }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "96167e4d-f15d-47bb-9036-d8cf54b6b748",
      "name": "IF Run Enrich",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"contents\": [{\n      \"parts\": [{\n        \"text\": {{ JSON.stringify($json.enrichPrompt + ($json.custom_rules ? \"\\n\\nÖZEL KURALLAR (Bu kurallara kesinlikle\n   uy):\\n\" + $json.custom_rules : \"\")) }}\n      }]\n    }],\n    \"generationConfig\": {\n      \"temperature\": {{ $json.aiTemperature || 0.3 }},\n      \"maxOutputTokens\": 2048\n    }\n  }",
        "options": {
          "timeout": 60000
        }
      },
      "id": "47cb456e-2231-469c-973d-9d3772fce444",
      "name": "Gemini Enrich",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hp8gTY1C1efbSfkx",
          "name": "Gemini API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// PARSE ENRICHMENT RESPONSE\n// ===========================================\nconst prevData = $('Prepare Enrich Prompt').first().json;\nconst geminiResponse = $input.first().json;\nconst keywords = prevData.keywords || [];\n\nconst enrichedKeywords = keywords.map((kw, idx) => ({\n  ...kw,\n  index: idx + 1,\n  intent: null,\n  cluster: null,\n  priority: 'medium',\n  content_type: 'cluster'\n}));\n\ntry {\n  const text = geminiResponse?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const lines = text.split('\\n').filter(l => /^\\d+\\|/.test(l.trim()));\n  \n  for (const line of lines) {\n    const parts = line.split('|').map(p => p.trim());\n    if (parts.length >= 2) {\n      const no = parseInt(parts[0]);\n      const kw = enrichedKeywords.find(k => k.index === no);\n      if (kw) {\n        kw.intent = parts[1] && parts[1] !== '-' ? parts[1].toLowerCase() : null;\n        kw.cluster = parts[2] && parts[2] !== '-' ? parts[2] : null;\n        kw.priority = parts[3] && parts[3] !== '-' ? parts[3].toLowerCase() : 'medium';\n        kw.content_type = parts[4] && parts[4] !== '-' ? parts[4].toLowerCase() : 'cluster';\n      }\n    }\n  }\n} catch (e) { console.log('Enrich parse error:', e.message); }\n\nconst clusters = {};\nenrichedKeywords.forEach(kw => {\n  const c = kw.cluster || 'Genel';\n  if (!clusters[c]) clusters[c] = [];\n  clusters[c].push(kw.keyword);\n});\n\nreturn [{\n  json: {\n    mainKeyword: prevData.mainKeyword,\n    projectId: prevData.projectId,\n    clientId: prevData.clientId,\n    stats: prevData.stats,\n    approved_keywords: enrichedKeywords,\n    clusters: clusters,\n    ai_used: true\n  }\n}];"
      },
      "id": "3b2c287d-93ce-4624-be98-9c3d0081357a",
      "name": "Parse Enrich",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// SKIP ENRICHMENT - Use keywords as-is\n// ===========================================\nconst data = $input.first().json;\nconst keywords = data.keywords || [];\n\nconst approvedKeywords = keywords.map((kw, idx) => ({\n  ...kw,\n  index: idx + 1,\n  intent: null,\n  cluster: null,\n  priority: 'medium',\n  content_type: 'cluster'\n}));\n\nreturn [{\n  json: {\n    mainKeyword: data.mainKeyword,\n    projectId: data.projectId,\n    clientId: data.clientId,\n    stats: data.stats,\n    approved_keywords: approvedKeywords,\n    clusters: {},\n    ai_used: false\n  }\n}];"
      },
      "id": "8ce45f61-d49f-48bc-b1c4-6c62a83b7dd2",
      "name": "Skip Enrich",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-project",
              "leftValue": "={{ $json.projectId }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f942b3a9-ffd6-4ba8-828b-cbaf1b569f09",
      "name": "IF Save to DB",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1328,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// PREPARE FOR DB INSERT\n// ===========================================\nlet data = null;\ntry { data = $('Parse Enrich').first().json; } catch(e) {}\nif (!data) { try { data = $('Skip Enrich').first().json; } catch(e) {} }\nif (!data) { data = $input.first().json; }\n\nconst projectId = data.projectId;\nconst approvedKeywords = data.approved_keywords || [];\n\nif (approvedKeywords.length === 0) {\n  return [{ json: { skip: true } }];\n}\n\nreturn approvedKeywords.map((kw, idx) => ({\n  json: {\n    project_id: projectId,\n    keyword: kw.keyword,\n    keyword_type: kw.source?.includes('suggest') ? 'google_suggest' : 'related',\n    search_volume: kw.search_volume || null,\n    cpc: kw.cpc || null,\n    competition: kw.competition || null,\n    search_intent: kw.intent || null,\n    keyword_cluster: kw.cluster || null,\n    content_priority: kw.priority || 'medium',\n    page_type: kw.content_type || null,\n    source: kw.source || 'dataforseo'\n  }\n}));"
      },
      "id": "a705d34d-9e7f-41a5-9e59-a58422b077cc",
      "name": "Split for DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO keyword_results \n  (project_id, keyword, keyword_type, search_volume, cpc, competition, search_intent, keyword_cluster, content_priority, page_type, source)\nVALUES \n  ({{ $json.project_id }}, '{{ $json.keyword.replace(/'/g, \"''\") }}', '{{ $json.keyword_type }}', {{ $json.search_volume || 'NULL' }}, {{ $json.cpc || 'NULL' }}, {{ $json.competition ? \"'\" + $json.competition + \"'\" : 'NULL' }}, {{ $json.search_intent ? \"'\" + $json.search_intent + \"'\" : 'NULL' }}, {{ $json.keyword_cluster ? \"'\" + $json.keyword_cluster.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, '{{ $json.content_priority || 'medium' }}', {{ $json.page_type ? \"'\" + $json.page_type + \"'\" : 'NULL' }}, '{{ $json.source }}')\nON DUPLICATE KEY UPDATE\n  search_volume = COALESCE(VALUES(search_volume), search_volume),\n  cpc = COALESCE(VALUES(cpc), cpc),\n  search_intent = COALESCE(VALUES(search_intent), search_intent),\n  keyword_cluster = COALESCE(VALUES(keyword_cluster), keyword_cluster),\n  content_priority = COALESCE(VALUES(content_priority), content_priority),\n  page_type = COALESCE(VALUES(page_type), page_type)",
        "options": {}
      },
      "id": "b27201df-77ce-4f60-9929-f3e8153b10f9",
      "name": "Save to DB",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1760,
        0
      ],
      "credentials": {
        "mySql": {
          "id": "1rDLBK64lV00T0am",
          "name": "SEO Suite MySQL"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// PREPARE FINAL RESPONSE\n// ===========================================\nlet data = null;\ntry { data = $('Parse Enrich').first().json; } catch(e) {}\nif (!data) { try { data = $('Skip Enrich').first().json; } catch(e) {} }\n\nif (!data) {\n  return [{ json: { success: false, error: 'Could not retrieve data' } }];\n}\n\nconst approvedKeywords = data.approved_keywords || [];\nconst savedCount = $input.all().length;\n\nreturn [{\n  json: {\n    success: true,\n    message: `Keyword arastirmasi tamamlandi. ${approvedKeywords.length} keyword secildi, ${savedCount} DB'ye kaydedildi.`,\n    main_keyword: data.mainKeyword,\n    project_id: data.projectId,\n    stats: data.stats,\n    keywords: approvedKeywords.map(kw => ({\n      keyword: kw.keyword,\n      search_volume: kw.search_volume,\n      cpc: kw.cpc,\n      competition: kw.competition,\n      intent: kw.intent,\n      cluster: kw.cluster,\n      priority: kw.priority,\n      content_type: kw.content_type,\n      source: kw.source\n    })),\n    clusters: data.clusters || {},\n    saved_to_db: savedCount,\n    ai_used: data.ai_used\n  }\n}];"
      },
      "id": "4b958cdd-4380-4dae-9ed8-9a6d6cd52565",
      "name": "Response (DB)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// PREPARE RESPONSE (NO DB SAVE)\n// ===========================================\nlet data = null;\ntry { data = $('Parse Enrich').first().json; } catch(e) {}\nif (!data) { try { data = $('Skip Enrich').first().json; } catch(e) {} }\nif (!data) { data = $input.first().json; }\n\nconst approvedKeywords = data.approved_keywords || [];\n\nreturn [{\n  json: {\n    success: true,\n    message: `Keyword arastirmasi tamamlandi. ${approvedKeywords.length} keyword secildi.`,\n    main_keyword: data.mainKeyword,\n    project_id: null,\n    stats: data.stats,\n    keywords: approvedKeywords.map(kw => ({\n      keyword: kw.keyword,\n      search_volume: kw.search_volume,\n      cpc: kw.cpc,\n      competition: kw.competition,\n      intent: kw.intent,\n      cluster: kw.cluster,\n      priority: kw.priority,\n      content_type: kw.content_type,\n      source: kw.source\n    })),\n    clusters: data.clusters || {},\n    saved_to_db: 0,\n    ai_used: data.ai_used\n  }\n}];"
      },
      "id": "109901ce-a82d-46ef-8e0e-770d43d6ea5c",
      "name": "Response (No DB)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        256
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "d4d8eaa6-7598-4234-ac10-e65fca9d7ff7",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2208,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Keyword bulunamadi\", \"keywords\": [], \"stats\": {} }",
        "options": {}
      },
      "id": "a4be9655-d483-41bd-b5eb-d784b3080a00",
      "name": "Respond Empty",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Save raw DataForSEO keywords to database\nconst projectId = $('Prepare Config').first().json.projectId;\nconst response = $input.first().json;\n\n// Parse DataForSEO response - correct path: tasks[0].result is array of keywords\nlet keywords = [];\nif (response.tasks && response.tasks[0] && response.tasks[0].result) {\n  const results = response.tasks[0].result;\n  // results is directly an array of keyword objects\n  if (Array.isArray(results)) {\n    for (const kw of results) {\n      if (kw.keyword) {\n        keywords.push({\n          project_id: projectId,\n          keyword: kw.keyword || '',\n          search_volume: kw.search_volume || null,\n          cpc: kw.cpc || null,\n          competition: kw.competition || null,\n          competition_index: kw.competition_index || null,\n          low_top_of_page_bid: kw.low_top_of_page_bid || null,\n          high_top_of_page_bid: kw.high_top_of_page_bid || null\n        });\n      }\n    }\n  }\n}\n\nconsole.log('Raw keywords to save:', keywords.length);\n\n// Pass data forward with raw keywords attached\nreturn [{\n  json: {\n    ...response,\n    _rawKeywordsToSave: keywords,\n    _rawKeywordCount: keywords.length\n  }\n}];"
      },
      "id": "save-raw-keywords-001",
      "name": "Save Raw Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        384
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ (function() {\n  const keywords = $json._rawKeywordsToSave || [];\n  const projectId = $json._rawKeywordsToSave && $json._rawKeywordsToSave[0] ? $json._rawKeywordsToSave[0].project_id : null;\n\n  if (keywords.length === 0 || !projectId) return 'SELECT 1 as result';\n\n  const values = keywords.map(kw => {\n    const keyword = (kw.keyword || '').replace(/'/g, \"''\").substring(0, 500);\n    const competition = (kw.competition || '').replace(/'/g, \"''\");\n    return `(${kw.project_id}, '${keyword}', ${kw.search_volume || 'NULL'}, ${kw.cpc || 'NULL'}, '${competition}', ${kw.competition_index || 'NULL'}, ${kw.low_top_of_page_bid || 'NULL'}, ${kw.high_top_of_page_bid || 'NULL'}, 'dataforseo')`;\n  }).join(',\\n');\n\n  return `INSERT IGNORE INTO keyword_results_raw\n    (project_id, keyword, search_volume, cpc, competition, competition_index, low_top_of_page_bid, high_top_of_page_bid, source)\n    VALUES ${values}`;\n})() }}",
        "options": {}
      },
      "id": "mysql-save-raw-001",
      "name": "MySQL Save Raw",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -560,
        96
      ],
      "credentials": {
        "mySql": {
          "id": "1rDLBK64lV00T0am",
          "name": "SEO Suite MySQL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "IF Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid": {
      "main": [
        [
          {
            "node": "Get Client Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Config": {
      "main": [
        [
          {
            "node": "Prepare Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Config": {
      "main": [
        [
          {
            "node": "Google Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Suggestions": {
      "main": [
        [
          {
            "node": "DataForSEO Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataForSEO Keywords": {
      "main": [
        [
          {
            "node": "Save Raw Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Keywords": {
      "main": [
        [
          {
            "node": "Prepare Final Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Selection": {
      "main": [
        [
          {
            "node": "IF Need Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Need Selection": {
      "main": [
        [
          {
            "node": "Gemini Final Selection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Final Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Final Selection": {
      "main": [
        [
          {
            "node": "Parse Final Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Final Selection": {
      "main": [
        [
          {
            "node": "Prepare Enrich Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Final Selection": {
      "main": [
        [
          {
            "node": "Prepare Enrich Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Enrich Prompt": {
      "main": [
        [
          {
            "node": "IF Run Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Run Enrich": {
      "main": [
        [
          {
            "node": "Gemini Enrich",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Enrich": {
      "main": [
        [
          {
            "node": "Parse Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Enrich": {
      "main": [
        [
          {
            "node": "IF Save to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Enrich": {
      "main": [
        [
          {
            "node": "IF Save to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Save to DB": {
      "main": [
        [
          {
            "node": "Split for DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response (No DB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split for DB": {
      "main": [
        [
          {
            "node": "Save to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to DB": {
      "main": [
        [
          {
            "node": "Response (DB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response (DB)": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response (No DB)": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Raw Keywords": {
      "main": [
        [
          {
            "node": "MySQL Save Raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL Save Raw": {
      "main": [
        [
          {
            "node": "Merge Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d5cc00db-44a4-4d20-a02c-c89ae2d44f61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "962669683927cc1437044c6b20237fcf963b814bc72f0acd8ce7d659ad95be86"
  },
  "id": "j3jZIjdsJSchQqCe",
  "tags": [
    {
      "updatedAt": "2025-12-13T11:18:17.285Z",
      "createdAt": "2025-12-13T11:18:17.285Z",
      "id": "1",
      "name": "Tool1-KeywordResearch"
    }
  ]
}